<a href="https://colab.research.google.com/github/bcarmoai/Colab/blob/main/Boris_course_code_Chapter_3_(BC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

In [2]:
import pandas as pd

In [ ]:
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [1]:
menu = {"Filet Mignon": 29.99, "Big Mac": 3.99, "Pizza": 0.99, "Salmon": 29.99}

In [3]:
menu_series = pd.Series(menu)

In [8]:
menu_series[0]

<ipython-input-8-337f0d953734>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  menu_series[0]

29.99

In [9]:
menu_series.iloc[0]

29.99

In [11]:
menu_series.mean()

16.24

In [13]:
two_numerics = {10:1, 20:2}

In [14]:
two_numerics_series = pd.Series(two_numerics)

In [15]:
two_numerics_series.mean()

1.5

In [16]:
two_numerics_series

10    1
20    2
dtype: int64

In [17]:
type(two_numerics)

dict

In [19]:
type(two_numerics_series.values)

numpy.ndarray