<a href="https://colab.research.google.com/github/bcarmoai/Colab/blob/main/borris_course_Chapter2_(AA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 2:** Python Crash Course

#Comments
* a comment is a line of text ignored by python
* use a hastag(#) to create a comment

In [ ]:
# 3+3

* shortcut to create a comment is ctrl+/

In [ ]:
# 3+3
 4+4

IndentationError: unexpected indent (<ipython-input-7-c058346debe2>, line 2)

In [ ]:
4 + 4

8

#Basic Data Types
* Integers: wnumbers without fractional component
* Floating point number: number with fractional component.For example 3.14
* String: piece of text or collection of characters. Anything in double codes like "Mango". Can use souble or single quotes but stay consistent. Output is with single quote.

In [ ]:
"Borris0"

'Borris0'

In [ ]:
1.399 + 4.51

5.909

In [ ]:
"139.99" + 4.15

TypeError: can only concatenate str (not "float") to str

In [ ]:
"Aishwarya" + " Arora"

'Aishwarya Arora'

* Empty string : string without any character but it also valid

In [ ]:
" "

' '

* Boolean Type: George Boole
- True
- False

* None represent nullness/absence/missing of a value
* a library like pandas adds more complex data types;

#Operators
* an operator is a symbol that performs some sort of operation, as simple as +
* concatenation- combining two strings together
* can use asterisk with string * number
* PEMDAS : Paranthesis, exponents, mul/div, add/sub = BODMAS
* Division is a / it will result into floating point value and not an integer
* Floor division- leaves out the floatng-point , just use //
* Modulo operator - returns the remainder of the division; %
* logical based operators:
 * Equality operator- checkif two values are equal : answer is boolean; ==; it will sometime ignore datatype if they are logically equal.
 * Strings - depends on case sensitivity;
 * Inequality operator - checs if two values are NOT equal; !=
 * <,<=,>,>=

In [4]:
 5 + 3

8

In [7]:
"race" + "car"

'racecar'

In [8]:
5 - 10

-5

In [9]:
4 * 3

12

In [10]:
"mahi" * 5

'mahimahimahimahimahi'

In [3]:
3 + 4 * 5
(3+4)*5

35

In [4]:
10 / 3

3.3333333333333335

In [5]:
10 // 3

3

In [6]:
14 % 3

2

In [7]:
15 % 3

0

In [8]:
1 == 1

True

In [9]:
1 == 2

False

In [10]:
5 == 5.0

True

In [11]:
"Hello" == "hello"

False

In [13]:
"Hello" == "Hello "

False

In [14]:
5 != 10

True

In [16]:
5 != 5.0

False

In [19]:
 5 <= 8

True

#Variables
* a variabe is a name for a value in your program. It is a placeholder for the value
* the value that a variable represents can vary over a program
* = is an assignment operator
* snake case formatting; use underscore with every word; like snake_case_format
* python always evaluates right hand side of assignment operator first and then assigns the value to the left
* a way to restart kernel is colab is go to Runtime>Restart Session

In [2]:
age = 32

In [3]:
age
age  + 5

37

In [4]:
price = 19.99
profession = "Software Engineer"
first_name = "Aishwarya"
is_awesome = True

In [5]:
price
first_name + " is the best"

'Aishwarya is the best'

In [6]:
profession = "Analyst"

In [7]:
profession

'Analyst'

In [8]:
age = age + 5

In [37]:
age

42

#Built-in Functions
* A function is a repeatable procedure
* A function accepts inputs(which are called arguments)
* A function produces a return value, which is the "output" of the function
* Technical term for running/executing a function is "invoking" or "calling"

In [16]:
len("Boris") #5
len("Boris Course") #12
len("  ") #2
len("") #0

0

In [24]:
str(3.14) #conversion function; convert that value to string
int("A") #conversion function; convert that value to integer

ValueError: invalid literal for int() with base 10: 'A'

In [27]:
int("10")
float("9.384") #conversion function; convert that value to float

9.384

In [34]:
type(5)
type(3.14)
type("PlayStation")
type(-32)
type(True)
type(true) # won't work since case sensitive

NameError: name 'true' is not defined

#Custom Functions
* a sequence of steps that we write; they can be tailored to our own needs, project requirements, business domain
* syntax; def <name>(parameters/agruments) :
* indentation to create blocks; if no proper indentation then syntax error; some amount of indentation
* local variables, and can have as many arguments in the custom functions as we want

In [61]:
#Declare a function that accepts a temperature in Celcius and returns it in Fahrenheit

def convert_to_fahrenheit(celsius_temp):
  calculation = celsius_temp * 1.8
  return calculation + 32

# if you want to give a default argument - a fallback value; what to do if we don't provide any argument

def convert_to_fahrenheit(celsius_temp=0):
  calculation = celsius_temp * 1.8
  return calculation + 32

In [53]:
convert_to_fahrenheit(0)
convert_to_fahrenheit(14)

57.2

In [59]:
convert_to_fahrenheit(celsius_temp =14) #the argument name needs to match else error; better because then you know what vaue you're assigning

57.2

In [63]:
convert_to_fahrenheit() #since we have default value as 0

32.0

In [70]:
def addition(a,b,c=0):
  result = a+b+c
  return a,b,result

In [71]:
addition(1,2)

(1, 2, 3)

#String Methods
* An object is the technical term for a type. A string is an example of an object
* A method is like a function that belongs to an object; right now what we know is they are directly invokable from a cell ut method is slightly different, these are available on objects. An action that we want an object/entity to perform
* To invoke a method, provide a period after the object, then the method name and a pair of parantheses
* Objects can be **mutable** (capable of change) or **ummutable**(incapable of change)
* A string is **immutable**

* upper method; basically an action on that string; converts to all CAPITALS
* these are pieces of behaviour that other developers have written

In [72]:
"Python Developer".upper() #correct

'PYTHON DEVELOPER'

In [73]:
upper("Python Developer") #incorrect

NameError: name 'upper' is not defined

In [74]:
profession = "Python Developer"
profession.upper()

'PYTHON DEVELOPER'

In [77]:
profession #the original string did not change
profession.lower()

'python developer'

In [78]:
profession.swapcase() #reverses the casing

'pYTHON dEVELOPER'

In [82]:
"once upon a time".title() #capitalise the first character of all words
"once upon a time".capitalize() #capitalise the first character of the first word

'Once upon a time'

In [84]:
profession = "           Python Developer           "

In [85]:
profession

'           Python Developer           '

In [88]:
profession.lstrip() #leftstrip; remove whitespace from beginning
profession.rstrip() #rightstrip; remove whitespace from end
profession.strip() #remove from both

'Python Developer'

In [90]:
#we are getting brand new string; there is not change happening to the very initial string; if you want two things to happen use the following method: Method chaining
profession.strip().lower()

'python developer'

In [95]:
profession.replace("e","*") #replaces all occurances of the character from the string, takes two argumnents, which and to what

'           Python D*v*lop*r           '

In [96]:
profession.strip().replace("e","*")

'Python D*v*lop*r'

In [101]:
profession.strip().startswith("Pyt") #remember case sensitivity
profession.strip().endswith("oper ")

False

In [103]:
#searching for a substring within a string; there is an "in" keyword
"Dev" in profession.strip()

True

In [104]:
"dev" in profession.strip()

False

In [105]:
#not in
"Dev" not in profession.strip()

False

#Lists
* A list is a container to store multiple values in order, in sequence, each value will be assigned a position
* **mutable**(can change) data structure that holds an ordered collection of values
* a list of string, a list of integer, a list of list, you can also have a mix list like string integer etc, There is no limitation
* One item within a list is called ELEMENT
* The length of the list is the number of elements
* A list includes various methods for adding and removing elements
* use [ ] to start and beginning of the list, all elements separated by commas
* lists and array are the same, synonyms

In [113]:
[4, 8] #order matters as this is not equalto [8,4]
[4, 8, 15, 16, 23, 42] #length of this list is 6

[4, 8, 15, 16, 23, 42]

In [112]:
[True, False, True, True, False] #list consisting of 5 booleans; the length of this list is 5

[True, False, True, True, False]

In [114]:
party_attendees = ["Michael", "Freddy", "Jason"]

In [115]:
party_attendees

['Michael', 'Freddy', 'Jason']

In [118]:
len("Python") #6
len(party_attendees) #3
type(party_attendees) #list

list

In [121]:
#Sample methods on the list
#some methods have power to change the list as lists are mutable
presidents = ["Washington", "Jefferson"]

In [124]:
presidents.append("Madison")
presidents

['Washington', 'Jefferson', 'Madison', 'Madison']

In [129]:
popcorn_flavors = ["Salted", "Unsalted", "Caramel"]
popcorn_flavors

['Salted', 'Unsalted', 'Caramel']

In [130]:
popcorn_flavors.pop() #remove the last element and output is that element and also changes the original list

'Caramel'

In [131]:
popcorn_flavors

['Salted', 'Unsalted']

In [133]:
planets = ["Mercury", "Venus", "Earth", "Mars"]
planets

['Mercury', 'Venus', 'Earth', 'Mars']

In [136]:
"Jupiter" in planets
"Venus" in planets
"venus" in planets

False

In [138]:
"Pluto" not in planets
"Venus" not in planets

False

#Index Positions and Slicing
* there is something common bw string and list. Basically order. Unique number which is index
* Python assigns every string character an index position(an order in a line)
* Python starts counting at 0 (caveat)
* Use negative values to extract a character/elemetn relative to the end of the object

In [139]:
hero = "SpiderMan"
hero

'SpiderMan'

In [140]:
len(hero)

9

In [143]:
# 0 1 2 3 4 5 6 7 8
# -9
# S p i d e r M a n
#final position is one less than the length of the string
hero[3]
hero[100]

IndexError: string index out of range

In [147]:
hero[-1]
hero[-9]

'S'

In [150]:
hero[1:3] #starts from index 1 till 3; the first number before : is inclusive but after : is not include 3-1 = 2 values

'pi'

In [151]:
hero[2:6] #6-2 = 4 character substring; indices 2,3,4,5

'ider'

In [159]:
hero[0:-1] #everything but the last character
#shortcut
hero[:-1] #same as above; if you have 0 before colon you can ommit it completely
hero[3:100] #not an error in this case because it starts from 3 and will give till
hero[3:]
hero[100:-2] #atleast not an error but not any use
hero[3:-2]

'derM'

In [160]:
#now try with lists
superheroes = ["Batman", "Wolverine", "Superman", "Ironman"]

In [161]:
superheroes[1]

'Wolverine'

In [164]:
superheroes[0:2] #0 and 1 indices

['Batman', 'Wolverine']

In [166]:
superheroes[5] #out of range so error

IndexError: list index out of range

In [167]:
superheroes[:-1]

['Batman', 'Wolverine', 'Superman']

In [170]:
superheroes[-1:]

['Ironman']

#Dictionaries
* A dictionary exist to solve the problem of association. In some value also called MAP
* bridge between different objects
* Why? Like list is for order, we use dictionary when we do not care about order but do care about association. Like a menu; food item mapped to price, we do not really care about the order of items on the menu; basically a link or connection. For example an actual dictionary
* A dictionary is a mutable, unordered collection of **key-value** pairs
* A key is the unique identifier for a value; can not have same key twice; it has to be a unique identifier
* A value corresponds to the key. The values can contain duplicates
* Can use numbers, string etc. No limitation
* Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for order

In [175]:
#replicating a menu in real world
menu = { "Filet Mignon": 29.99,
        "Big Mac": 3.99,
         "Pizza": 3.99,
         "Salmon": 29.99 }
menu

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [177]:
len(menu) #total number of key-value pairs

4

In [183]:
#menu["Pizza", "Big Mac"] can't do two values together so lets try one
menu["Pizza"] #works

3.99

In [184]:
menu["Salmon"]

29.99

In [186]:
menu["Tuna"] #key error; also applies to case sensitivity

KeyError: 'Tuna'

In [191]:
menu["Burrito"] = 23.44 #this is adding a key-value pair to dictionary
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 3.99,
 'Salmon': 29.99,
 'Burrito': 23.44}

In [192]:
menu["Big Mac"] = 10.99 #overwrite the existing value

In [193]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 10.99,
 'Pizza': 3.99,
 'Salmon': 29.99,
 'Burrito': 23.44}

In [195]:
#pop method
menu.pop("Filet Mignon")

29.99

In [196]:
menu

{'Big Mac': 10.99, 'Pizza': 3.99, 'Salmon': 29.99, 'Burrito': 23.44}

In [197]:
#they go hand in hand; I can just remove key or value; they go together; association b/w two things

In [200]:
"Big Mac" in menu #it will check amongst the keys

True

In [202]:
10.99 in menu #although exists as value but in keyword look amongst the keys. Because keys is entry point in the object

False

In [207]:
#how to check for values
menu.values() #all values
10.99 in menu.values()

True

In [208]:
49.99 not in menu.values()

True

#Classes
* A class is blueprint/template for creating objects
* A class is where a developer define the functionality of objects. It defines the methods etc
* every string made from string class is going to have these methods
* every dictionary made from dictionary class is going to have these methods [pop, etc]

* A class defines the methods/functionalities that the objects made from it will have
* An object is an instance of the class it is made from
* The act of creating an object from a class is called instantiation
* Every time we've worked with a Python object, it's been instantiated from a class
* In real world terms, a class is a blueprint and the house we build is the instance/object
* Syntax options like " " string or [ ] list or { } dict are shorcuts for instantiation
* for other classes, we'll need to use classname() syntax to instantiate an object; similar to invoking a function
* Much like functions and methods, some class instantiations will require arguments
* pandas giving us access to more classes

#Navigating Libraries using Jupyter Lab
* won't load library itself
* use import keyword and optionally you can choose to add alias
* pd is like a lobby to the library. Namespace or prefix you'll always have to begin with this
* use tab key for ideas

In [209]:
import pandas as pd

In [210]:
""

[]

[]

In [216]:
pd.arrays #it belongs to pandas so without pd it will throw an error

In [212]:
arrays

NameError: name 'arrays' is not defined

In [214]:
pd.annotations #instance; pre-built objects mostly for library internals

_Feature((3, 7, 0, 'beta', 1), (3, 11, 0, 'alpha', 0), 16777216)

In [217]:
#module is like a nested folder
pd.api #api not a class or function but one more level deeper in pandas
pd.api.types #use tab to see what is available in this folder
pd.Categorical

pandas.core.arrays.categorical.Categorical

In [218]:
# some_library
# import some_library as sl
# sl.Categorical # even though name of class is same but this would be different because pd and sl are different libraries so might have different functionalities